<div class="col-md-6 offset-4 mt-4 mb-3">
    <h2>Please Register!!!</h2>
    <hr/>
<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">First Name</span>
    </div>
    <input type="text" aria-label="First name" placeholder="First Name" class="form-control">
    <input type="text" aria-label="Last name" placeholder="Last Name" class="form-control">
  </div>
  <br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email</span>
    </div>
    <input type="text" class="form-control" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">DOB</span>
    </div>
    <input type="text" class="form-control" placeholder="dd/mm/yyyy" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Password</span>
    </div>
    <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="offset-10">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Reset</button>
    <button type="button" class="btn btn-secondary">Register</button>
  </div>
</div>
</div>
